<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}Task Master{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <h1 class="visually-hidden">Task Master</h1>  {# Visually hidden for accessibility #}
    </header>
    
    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} Task Master. All rights reserved.</p>
    </footer>
</body>

</html>